.image_type_book-of-week {
    border-radius: 0 5px 5px 0;
}

@media (max-width: 540px) {
    .image_type_book-of-week {
        width: 330px;
        height: 100%;
    }
}

@media (max-width: 360px) {
    .image_type_book-of-week {
        width: 250px;
    }
}