@import url('../__stiker/_position/home-page__stiker_position.css');

.home-page__stiker {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}