@import url('../nuv/__list/nuv__list.css');
@import url('../nuv/__item/nuv__item.css');
@import url('../nuv/__link/nuv__link.css');

.nuv {
    display: flex;
    text-align: center;
}

@media (max-width: 610px) {
    .nuv {
        margin: 15px 0;
    }
}