@import url('../text/_size/text_size.css');
@import url('../text/__conatiner/text__container.css');

.text {
    display: block;
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1400px) {
    .text {
        text-align: center;
    }
}