.banner__text {
    position: absolute;
    border-radius: 3px;
    opacity: 95%;
    background-color: #ffffff;
    font-size: 17px;
    top: 10px;
    left: 8px;
    right: 8px;
    height: auto;
    padding: 10px;
}