.home-page__social
{
    height: 16px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7e7e7cc;
    border-radius: 3px;
    cursor: pointer;
}

.home-page__social:hover
{
    background: #bebebecc;
}